@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --background: #f6f6f6;
  --foreground: #171717;
  --primary: #00dfa2;
  --secondary: #f06f38;
  --title: #1c1c1c;
  --description: #5e5e5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-title: var(--title);
  --color-description: var(--description);
  --font-DM_Sans: var(--font-sans);
  --font-Satoshi: var(--font-satoshi);
}

body,
p,
a,
span {
  font-family: var(--font-Satoshi);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-DM_Sans);
}

.container {
  width: 100%;
}

.secondary_btn {
  @apply md:text-lg text-sm font-bold text-title inline-flex w-fit md:px-7 md:py-[18px] px-5 py-2.5 bg-white rounded-4xl hover:bg-primary hover:text-white transition-all duration-300 ease-in-out;
}

.primary_btn {
  @apply md:text-lg text-sm font-bold text-white inline-flex w-fit md:px-7 md:py-[18px] px-5 py-2.5 bg-secondary rounded-4xl hover:bg-primary hover:text-white transition-all duration-300 ease-in-out;
}

button {
  @apply cursor-pointer;
}

.post_content p {
  @apply mb-5;
}

.post_content p,
.post_content li,
.post_content span {
  @apply md:text-lg text-sm font-normal text-description;
}
.post_content strong, .line_box strong, .BG_box strong{
  @apply text-[#003D2C];
}

.post_content a {
  @apply text-primary hover:text-secondary;
}
.post_content ol {
  @apply flex flex-col gap-3 list-disc list-inside mb-5;
}
.post_content ul {
  @apply flex flex-col gap-3 list-disc list-inside mb-5;
}

.post_content h2 {
  @apply md:text-[42px]text-[33px] leading-none font-semibold text-title font-DM_Sans capitalize mb-8;
}

.post_content h3 {
  @apply md:text-[36px] text-[26px] font-medium text-title font-DM_Sans capitalize mb-5;
}

.post_content h4 {
  @apply md:text-lg text-xs font-bold text-title font-DM_Sans capitalize mb-5;
}
.post_content table {
  @apply w-full border-collapse;
}
.post_content table tbody tr th {
  @apply md:text-lg text-xs font-normal text-[#003D2C] md:py-4 py-2 px-1 text-left;
}
.post_content table tbody tr td {
  @apply md:text-lg text-xs font-normal text-description border-t border-[#C6C6C680] md:py-4 py-2 px-1 text-left;
}
.test_Scroll ::-webkit-scrollbar {
  width: 2px;
  /* Width for vertical scrollbar */
  height: 10px;
  /* Height for horizontal scrollbar */
}

.test_Scroll ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.test_Scroll ::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

.line_box {
  @apply border-l-2 border-[#003D2C] md:px-8 p-5 bg-background/50;
}

.line_box h4 {
  @apply md:text-xl text-sm font-bold text-[#003D2C] mb-5;
}

.line_box p {
  @apply md:text-xl text-sm font-normal text-description mb-4;
}

.line_box ul {
  @apply list-disc list-inside marker:text-[#003D2C] mb-4 flex flex-col gap-4;
}

.line_box ul li {
  @apply md:text-xl text-sm font-normal text-description;
}

.line_box ul li strong {
  @apply text-[#003D2C];
}

.BG_box {
  @apply border border-[#003D2C] md:px-8 md:py-[30px] p-5 bg-background/50 mb-6 flex gap-4;
}

.BG_box span{
  @apply md:text-lg text-sm font-bold text-[#003D2C];
}

.BG_box h4 {
  @apply md:text-lg text-sm font-normal text-[#003D2C];
}

.BG_box p {
  @apply md:text-lg text-sm font-normal text-description;
}
.BG_box ul, .BG_box ol {
  @apply list-disc list-inside marker:text-[#003D2C] mb-4 flex flex-col gap-1;
}

.BG_box ul li ,.BG_box ol li{
  @apply md:text-lg text-sm font-normal text-description;
}
@media (min-width: 96rem) {

  /* 1536px */
  .container {
    max-width: 1280px;
  }
}